<div class="col-md-12">
  <div class="card card-container">
    <form [formGroup]="calcForm" (ngSubmit)="onSubmit()"
      *ngIf="!isSuccessful"
      name="form"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="monthlyIncome">Monthly income:</label>
        <input
          type="text"
          class="form-control"
          formControlName="monthlyIncome"
        />
        <div class="alert-danger" *ngIf="cf.monthlyIncome.errors && submitted">
          <div *ngIf="cf.monthlyIncome.errors?.required">Monthly Income is required</div>
        </div>
        <div class="alert-danger" *ngIf="cf.monthlyIncome.errors && submitted">
          <div *ngIf="cf.monthlyIncome.errors?.min">Minimum monthly Income should be 500000</div>
        </div>
        <div class="alert-danger" *ngIf="cf.monthlyIncome.errors && submitted">
          <div *ngIf="cf.monthlyIncome.errors?.invalidValue">Invalid value</div>
        </div>
      </div>
      <div class="form-group">
        <label for="requestedAmount">Requested Amount:</label>
        <input
          type="text"
          class="form-control"
          formControlName="requestedAmount"
        />
        <div class="alert-danger" *ngIf="cf.requestedAmount.errors && submitted">
          <div *ngIf="cf.requestedAmount.errors?.required">Requested amount is required</div>
        </div>
        <div class="alert-danger" *ngIf="cf.requestedAmount.errors && submitted">
          <div *ngIf="cf.requestedAmount.errors?.min">Minimum requested amount should be 20000000</div>
        </div>
        <div class="alert-danger" *ngIf="cf.requestedAmount.errors && submitted">
          <div *ngIf="cf.requestedAmount.errors?.invalidValue">Invalid value</div>
        </div>
      </div>
      <div class="form-group">
        <label for="loanTerm">Loan Term:</label>
        <input
          type="text"
          class="form-control"
          formControlName="loanTerm"
        />
        <div class="alert-danger" *ngIf="cf.loanTerm.errors && submitted">
          <div *ngIf="cf.loanTerm.errors?.required">Loan term is required</div>
        </div>
        <div class="alert-danger" *ngIf="cf.loanTerm.errors && submitted">
          <div *ngIf="cf.loanTerm.errors?.min">Minimum loan term should be 36</div>
        </div>
        <div class="alert-danger" *ngIf="cf.loanTerm.errors && submitted">
          <div *ngIf="cf.loanTerm.errors?.max">Maximum loan term should be 360</div>
        </div>
        <div class="alert-danger" *ngIf="cf.loanTerm.errors && submitted">
          <div *ngIf="cf.loanTerm.errors?.invalidValue">Invalid value</div>
        </div>
      </div>
      <div class="form-group">
        <label for="children">Children:</label>
        <select
          class="form-control"
          formControlName="children"
        >
          <option value="">Choose...</option>
          <option value="NONE">None</option>
          <option value="SINGLE">Single</option>
          <option value="MULTIPLE">Multiple</option>
        </select>
        <div class="alert-danger" *ngIf="cf.children.errors && submitted">
          <div *ngIf="cf.children.errors?.required">Children is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="coapplicant">Co-applicant:</label>
        <select
          class="form-control"
          formControlName="coapplicant"
        >
          <option value="">Choose...</option>
          <option value="NONE">None</option>
          <option value="SINGLE_BORROWER">Single borrowers</option>
          <option value="MULTIPLE_BORROWERS">Multiple borrowers</option>
        </select>
        <div class="alert-danger" *ngIf="cf.coapplicant.errors && submitted">
          <div *ngIf="cf.coapplicant.errors?.required">Co-applicant is required</div>
        </div>
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <!-- <div class="alert alert-warning" *ngIf="f.submitted && submitted">
        Signup failed!<br />{{ errorMessage }}
      </div> -->
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
